/*Layout*/
* {
    font-family: Gobold;
}
h2.tituloPrincipal {
    margin: 30px 0 0 0;
}
hr.tituloPrincipal {
    margin-top: 10px;
    border: 1.5px solid #eee;
}
div.header, footer {
    background-color: #008CC8;
    color: white;
    border: none;
}

.navbar-inverse .navbar-nav > li > a.header-btn-link {
    color: #008CC8;
    background-color: white;
    font-size: 16px;
    padding: 5px;
    margin-top: 15px;
    margin-right: 10px;
    font-family: Gobold;
}
footer {
    height: 50px;
}
footer p {
    font-family: GoboldThinItalic;
    padding: 15px 10px 0 0;
}
/*Fin Layout*/
/*Index*/
div.home-text {
    background-image: url("../Content/Images/fondo-abajo-01.jpg");
}
div.home-text h2 {
    font-family: GoboldThinItalic;
    color: #008CC8;
}
div.home-text strong {
    font-family: HelveticaCondensed;
}
div.home-boton {
    margin-top: -60px;
}
/*Fin Index*/


/*Tipos de Tramite*/
div.tipoTramite-buscar input[type=text] {
    width: 100%;
    padding:2% 0 2% 0;
}

div.tipoTramite-buscar button[type=submit] {
    position: absolute;
	top: 9px;
	right: 30px;
    background: none;
    border: none;
    font-size: 23px;
    color: #818181;
}

div.tipoTramite-crear {
    background-color: grey;
    padding: 1% 0 1% 0;
    color: white;
}
a.tipoTramite-textoCrear {
    display: inline-block;
    width: 100%;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-family: Gobold;
}

p.tipoTramite-item {
    display: inline-block;
    width: 100%;
    font-family: RobotoRegular;
    background-color: #d9dce0;
    padding: 1%;
    /*margin-bottom: 0;*/
}
span.tipoTramite-nombre {
    font-size: 20px;
}
span.tipoTramite-itemBtn {
    text-decoration: none;
    font-size: 20px;
    color: grey;
    float: right;
    padding-left:10px;
}

div.tipoTramite-descripcion {
    margin: -10px 0 10px 0;
    background-color: #d9dce0;
    padding-bottom: 20px;
}
p.tipoTramite-descripcion {
    margin: 0 20px 0 20px;
    padding: 20px;
    background-color: white;
}

div.tipoTramite-seccion {
    font-family: GoboldThinItalic;
    background-color: #008CC8;
    color: white;
    font-size: 24px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.tipoTramite-campo {
   margin-bottom: 5px;
}
/*Fin Tipos de Tramite*/
/*Font Faces*/
@font-face {
    font-family: Gobold;
    src: url("../fonts/Gobold Regular.otf");
}

@font-face {
    font-family: GoboldThinItalic;
    src: url("../fonts/Gobold Thin Italic.otf");
}

@font-face {
    font-family: HelveticaCondensed;
    src: url("../fonts/Helvetica-Condensed.otf");
}