/*Layout*/
* {
	font-family: HelveticaCondensed;
}
body {
	padding-bottom: 0;
	position: initial !important;
}
.body-content {
	min-height: calc(100vh - 57px - 50px);
}
h4 {
	font-family: GoboldRegular;
}
h2.tituloPrincipal {
	font-family: GoboldBold;
	margin: 30px 0 0 0;
}
hr.tituloPrincipal {
	margin-top: 10px;
	border: 1.5px solid #eee;
}
div.header, footer {
	background-color: #008CC8;
	color: white;
	border: none;
}
.btn-satia {
	font-family: GoboldThin;
	font-weight:100;
	color: white;
	border: 0;
	border-radius: 0;
}
.btn-primario {
	background-color: #008CC8;
}
.btn-secundario {
	background-color: #adadad;
}
.btn-rechazar {
	background-color: #ff0000
}
.btn-aprobar {
	background-color: #5cb85c;
}
.navbar-inverse .navbar-nav > li > a.header-btn-link {
	color: #008CC8;
	background-color: white;
	font-size: 16px;
	padding: 5px;
	margin-top: 15px;
	margin-right: 10px;
	font-family: GoboldRegular !important;
}
footer {
	height: 50px;
}
footer p {
	font-family: GoboldThinItalic;
	padding: 15px 10px 0 0;
}
/*Fin Layout*/
/*Index*/
div.home-text {
	background-image: url("../Content/Images/fondo-abajo-01.jpg");
	padding-bottom: 20px;
}
div.home-text h2 {
	font-family: GoboldThinItalic;
	color: #008CC8;
}
div.home-boton {
	margin-top: -60px;
}
/*Fin Index*/


/*Tipos de Tramite*/
div.tipoTramite-buscar input[type=text] {
	width: 100%;
	padding:2% 0 2% 0;
}

div.tipoTramite-buscar button[type=submit] {
	position: absolute;
	top: 9px;
	right: 30px;
	background: none;
	border: none;
	font-size: 23px;
	color: #818181;
}

div.tipoTramite-crear {
	background-color: grey;
	padding: 1% 0 1% 0;
	color: white;
}
a.tipoTramite-textoCrear {
	display: inline-block;
	width: 100%;
	margin-left: 10px;
	text-decoration: none;
	color: white;
	font-family: GoboldRegular;
}
p.tipoTramite-item {
	display: inline-block;
	width: 100%;
	font-family: RobotoRegular;
	background-color: #d9dce0;
	padding: 1%;
	/*margin-bottom: 0;*/
}
a.tipoTramite-verDetalles {
	font-family: GoboldRegular;
	background-color: #008CC8;
	color: white;
	padding: 1% 2% 1% 2%;
}
span.tipoTramite-nombre, span.tipoTramite-nombre a {
	text-decoration: none;
	color: black;
	font-family: GoboldRegular;
	font-size: 20px;
}
span.tipoTramite-itemBtn {
	text-decoration: none;
	font-size: 20px;
	color: grey;
	float: right;
	padding-left:10px;
}
div.tipoTramite-descripcion {
	margin: -10px 0 10px 0;
	background-color: #d9dce0;
	padding-bottom: 20px;
}
p.tipoTramite-descripcion {
	margin: 0 20px 0 20px;
	padding: 20px;
	background-color: white;
}
div.tipoTramite-seccion, div.tramite-seccion{
	font-family: GoboldThin;
	background-color: #008CC8;
	color: white;
	font-size: 24px;
	line-height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
div.tipoTramite-campo, div.tramite-campo{
   margin-bottom: 5px;
}
div.tipoTramite-campo > label, div.tramite-campo > label {
	font-family: GoboldThin;
	color: #008CC8;
	font-size: 1.4em;
	font-weight: 100;
}
select.tipoTramite-tipoDeDatos {
	width: 100%;
	height: 34px;
	border-radius: 5%;
	border-color: #ccc;
}
div.tipoTramite-botonera {
	font-size: 20px;
}
span.fa.fa-asterisk {
	color: #adadad;
	padding-right: 5px;
}
span.fa.fa-asterisk.asteriscoActivo {
	color: #008CC8;
}
input[type=checkbox].checkboxEdit {
	/* Double-sized Checkboxes */
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	padding: 10px;
	margin: 0 5px 5px 5px;

}
/*Detalles*/
dl.dl-horizontal.tipoTramite-detalles dt {
	font-family: GoboldThin;
	font-size: 1.3em;
	line-height: 30px;
}
dl.dl-horizontal.tipoTramite-detalles dd {
	font-size: 1.3em;
	line-height: 30px;
}
a.btn.btn-secondary {
	border: 1px solid #adadad;
	border-radius: 10%;
	font-family: GoboldLight;
}   
/*Fin Tipos de Tramite*/
/*Tramite*/
div.tramite textarea, div.tramite input[type=text], div.tramite input[type=date] {
	width: 300px;
	font-family: HelveticaCondensed;
}
div.tramite label {
	font-family: GoboldThin;
}
div.tramite input[type=text] {
}
div.tramite input[type=date] {

}   
/*Fin Tramite*/
/*Tramites Guardados*/
table.tabla-tramitesGuardados thead {
    padding: 2%;
    color: white;
    background-color:#008CC8;
}
table.tabla-tramitesGuardados th {
    padding: 1%;
    font-family: GoboldLight;
}
table.tabla-tramitesGuardados tbody td{
    padding: 1%;
}
/*Fin Trámites Guardados*/
/*Font Faces*/
@font-face {
    font-family: GoboldRegular;
    src: url("../fonts/Gobold Regular.otf");
}

@font-face {
	font-family: GoboldBold;
	src: url("../fonts/Gobold Bold.otf");
}

@font-face {
	font-family: GoboldLight;
	src: url("../fonts/Gobold Light.otf");
}

@font-face {
	font-family: GoboldThin;
	src: url("../fonts/Gobold Thin.otf");
}

@font-face {
	font-family: GoboldThinItalic;
	src: url("../fonts/Gobold Thin Italic.otf");
}

@font-face {
	font-family: HelveticaCondensed;
	src: url("../fonts/Helvetica-Condensed.otf");
}