body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Validations */
.form-group .ng-dirty.ng-invalid {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.form-group .ng-dirty.ng-invalid:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.form-group.has-feedback .ng-dirty.ng-invalid ~ .form-control-feedback {
	right: 17px;
}
/*.form-group.has-feedback select.ng-dirty.ng-invalid ~ .form-control-feedback {
	right: 33px;
}*/
tr.has-feedback .form-control-feedback,
.panel > .panel-heading .form-control-feedback {
	display: none;
	position: initial;
	font-size: 12px;
	line-height: 12px;
}

.panel.ng-dirty.ng-invalid {
	border-color: #ebccd1;
}
.panel.ng-dirty.ng-invalid > .panel-heading {
	background-color: #f2dede;
	border-color: #ebccd1;
}

tr.has-feedback.ng-invalid .form-control-feedback,
.panel.ng-dirty.ng-invalid > .panel-heading .form-control-feedback {
	display: initial;
}

.form-group .ng-dirty.ng-invalid,
.form-group.has-feedback .ng-dirty.ng-invalid ~ .control-label,
.form-group.has-feedback .ng-dirty.ng-invalid ~ .form-control-feedback,
tr.has-feedback.ng-invalid,
.panel.ng-dirty.ng-invalid > .panel-heading {
	color: #a94442;
}

.nav.navbar-nav img {
	max-height: 24px;
	padding: initial;
	margin-right: 4px;
}

.user-picture-container .form-group {
	position:relative;
	display: inline-block;
	cursor: pointer;
}

.user-picture-container .form-group label{
	position: absolute;
    bottom: -4px;
    left: 0;
    font-size: 10px;
    background: gray;
    color: white;
    font-family: arial;
    border-radius: 0 4px 0 4px;
    padding: 2px 8px;
	display: none;
}

.user-picture-container .form-group:hover label{
	display: initial;
}