@{
    ViewBag.Title = "Pagina Principal";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators text-right">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>-->

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/slider1-01.jpg" alt="SATIA 1">
        </div>

        <div class="item">
            <img src="~/Content/Images/slider2-01.jpg" alt="SATIA 2">
        </div>

        <div class="item">
            <img src="~/Content/Images/slider3-01.jpg" alt="SATIA 3">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--<div class="row">
    <div class="col-xs-4 col-md-2 col-md-offset-3 text-center home-boton">
        <img src="~/Content/Images/home-personas.png"/>
    </div>
    <div class="col-xs-4 col-md-2 text-center home-boton">
        <img src="~/Content/Images/home-tramites.png" />
    </div>
    <div class="col-xs-4 col-md-2 text-center home-boton">
        <img src="~/Content/Images/home-informacion.png" />
    </div>
</div>-->

<div class="row text-center home-text">
    <h2>&iquest;QU&Eacute; ES SATIA?</h2>
    <div class="col-md-8 col-md-offset-2">
        <strong>
            SATIA es el Sistema Automatizado de Tr&aacute;mites para Inmigrantes en Argentina, cuyo objetivo es acercar a las distintas comunidades de inmigrantes una nueva forma de gestionar tr&aacute;mites personales. <br />
            En el sistema encontrar&aacute; un listado de tr&aacute;mites que podr&aacute; gestionar a trav&eacute;s de la herramienta, que ser&aacute; mediador entre usted y la asociaci&oacute;n o consulado de su pa&iacute;s de origen
        </strong>
    </div>
</div>