@{
    ViewBag.Title = "Cuenta confirmada";
}

<h2 class="tituloPrincipal">@ViewBag.Title</h2>
<hr class="tituloPrincipal" />
<div>
    <p>
        Gracias por confirmar tu cuenta. <br />
        Ya puedes iniciar sesi&oacute;n haciendo @Html.ActionLink("click aquí", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
