@{
    ViewBag.Title = "Cuenta confirmada";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar tu cuenta. <br />
        Ya puedes iniciar session haciendo @Html.ActionLink("click aqui", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
