@model ConfirmEmailAndCreatePasswordViewModel
@using LoginPoC.Web.Areas.Security.Models
@using Newtonsoft.Json
@{
    var jsonModel = JsonConvert.SerializeObject(Model);
    ViewBag.Title = "Datos del Asesor";
}

<h2 class="tituloPrincipal">Bienvenido a SATIA</h2>
<hr class="tituloPrincipal" />
<div class="row" ng-controller="Agent.ConfirmEmailAndCreatePassword" ng-init='events.onInit(@Html.Raw(jsonModel))' ng-form="pageForm">

    <div class="form-group row">
        <div class="col-md-offset-2 col-md-8 tipoTramite-seccion">Cree una contraseña</div>
        <div class="col-md-offset-2 col-md-8 tipoTramite-campo form-group has-feedback">
            <label>Contraseña</label>
            <input ng-model="account.password"
                   class="form-control" type="password" name="password"
                   required
                   validate="validators.validPassword"
                   uib-popover="{{validators.selectErrorMessage(pageForm.password, { required: 'La contraseña es obligatoria', validPassword: 'La contraseña debe tener al menos 6 caracters, poseer al menos una letra en mayúscula, una en minúscula, un número y un de los siguientes simbolos: ! # &#64; - _ &' })}}"
                   popover-trigger="'mouseenter'"
                   popover-enable="pageForm.password.$invalid && pageForm.password.$dirty" />
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.password.$invalid && pageForm.password.$dirty"></span>
        </div>
        <div class="col-md-offset-2 col-md-8 tipoTramite-campo form-group has-feedback">
            <label>Confirme la contraseña</label>
            <input ng-model="account.confirmPassword"
                   class="form-control" type="password" name="confirmPassword"
                   required
                   validate="validators.matchPassword"
                   uib-popover="{{validators.selectErrorMessage(pageForm.confirmPassword, { required: 'Debe confirmar la contraseña', matchPassword: 'Las contraseñas no coinciden' })}}" 
                   popover-trigger="'mouseenter'" 
                   popover-enable="pageForm.confirmPassword.$invalid && pageForm.confirmPassword.$dirty" />
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.confirmPassword.$invalid && pageForm.confirmPassword.$dirty"></span>
        </div>

    </div>

    <hr />

    <div class="col-md-offset-5 col-md-2">
        <button class="btn btn-primary pull-right" ng-click="events.onSaveClicked();">Continuar</button>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Site/Agent/Agent.ConfirmEmailAndCreatePassword.js"></script>
}