@{
    ViewBag.Title = "Inicio de Sesión";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">No pudimos completar el inicio de sesion, vuelva a intentarlo mas tarde.</h3>
</hgroup>
