@{
    ViewBag.Title = "Confirmación de Olvido de Clave";
}

<h2 class="tituloPrincipal">@ViewBag.Title</h2>
<hr class="tituloPrincipal" />
<div>
    <p>Mensaja enviado. Por favor, verifique su casilla para blanquear su clave.
    </p>
</div>
	
