@{
    ViewBag.Title = "Confirmación de blanqueo de clave";
}

<h2 class="tituloPrincipal">@ViewBag.Title</h2>
<hr class="tituloPrincipal" />
<div>
    <p>
        Su contrase&ntilde;a ha sido reestablecida. <br />
        Por favor, haga @Html.ActionLink("click aquí", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) para iniciar sesi&oacute;n
    </p>
</div>
