@model UserViewModel
@using LoginPoC.Web.Helpers
@using LoginPoC.Model.User
@using LoginPoC.Web.Areas.Common.Models
@using Newtonsoft.Json

@{
	var jsonModel = JsonConvert.SerializeObject(Model);
	var genders = JsonConvert.SerializeObject(EnumHelper<Gender>.AsKeyValuePairs());
	var maritalStatuses = JsonConvert.SerializeObject(EnumHelper<MaritalStatus>.AsKeyValuePairs());
	var defaultPictureUrl = Url.Content("~/Content/Images/user-no-picture.png");

	ViewBag.Title = "User Information";
}

<br />

<div class="row" ng-controller="User.MyAccount" ng-init='events.onInit(@Html.Raw(jsonModel), "@Html.Raw(defaultPictureUrl)", @Html.Raw(genders), @Html.Raw(maritalStatuses))' ng-form="pageForm">

	<div class="col-md-4">

		<div class="panel panel-info">            
			<div class="panel-body">

				<div class="row text-center user-picture-container">
					<div class="form-group">
						<div style="display:inline;">
							<img ng-src="{{form.pictureUrl}}" alt="User picture" class="img-thumbnail" style="max-width:130px; max-height:130px;"
								 ngf-select="events.onFileSelected($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="3MB"/>
							<label><span class="glyphicon glyphicon-edit readable"></span> Editar</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 form-group has-feedback readable">
						<label>Nombre</label>
						<input ng-model="user.firstName" 
							   class="form-control" 
							   type="text" 
							   name="firstName" 
							   required
							   uib-popover="Su nombre es requerido" popover-trigger="'mouseenter'" popover-enable="pageForm.firstName.$invalid && pageForm.firstName.$dirty"
							   placeholder="Nombre..."/>
						<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.firstName.$invalid && pageForm.firstName.$dirty"></span>
					</div>
					<div class="col-md-6 form-group has-feedback readable">
						<label>Apellido</label>
						<input ng-model="user.lastName" 
							   class="form-control" type="text" name="lastName" 
							   required
							   uib-popover="Su apellido es requerido" popover-trigger="'mouseenter'" popover-enable="pageForm.lastName.$invalid && pageForm.lastName.$dirty"
							   placeholder="Apellido..."/>
						<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.lastName.$invalid && pageForm.lastName.$dirty"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 form-group has-feedback readable">
						<label>Email</label>
						<input ng-model="user.email" 
							   class="form-control" type="email" name="email" 
							   required
							   uib-popover="{{validators.selectErrorMessage(pageForm.email, { required: 'Su correo electrónico es requerido', email: 'Debe ingresar un correo electrónico válido.'})}}"
							   popover-trigger="'mouseenter'" popover-enable="pageForm.email.$invalid && pageForm.email.$dirty"
							   placeholder="myEmail@email.com" />
						<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.email.$invalid && pageForm.email.$dirty"></span>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-8">

		<div class="panel panel-info">
			<div class="panel-body">

				<h3 class="readable">Datos Personales</h3>
				<hr />

				<div class="row">
					<div class="col-md-6">
						<div class="form-group has-feedback readable">
							<label>Genero</label>
							<select class="form-control" 
									name="gender"
									ng-model="user.gender"
									ng-options="item.key as item.value for item in form.data.genders"></select>
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.gender.$invalid && pageForm.gender.$dirty"></span>
						</div>
						<div class="form-group has-feedback">
							<label class="readable">Pais de origen</label>
							<select class="form-control"
									name="country"
									ng-model="user.countryId"
									ng-options="item.id as item.name for item in form.data.countries"></select>
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.country.$invalid && pageForm.country.$dirty"></span>
						</div>
						<div class="form-group has-feedback readable">
							<label>Ciudad de origen</label>
							<input ng-model="user.city" 
								   class="form-control" 
								   type="text" 
								   name="city" 
								   required 
								   uib-popover="La ciudad de origen es requerido" popover-trigger="'mouseenter'" popover-enable="pageForm.city.$invalid && pageForm.city.$dirty"/>
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.city.$invalid && pageForm.city.$dirty"></span>
						</div>
						<div class="form-group has-feedback readable">
							<label>Número de Teléfono</label>
							<input ng-model="user.phoneNumber" class="form-control" type="text" name="phoneNumber" />
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.phoneNumber.$invalid && pageForm.phoneNumber.$dirty"></span>
						</div>
						<div class="form-group has-feedback readable">
							<label>Estado Civil</label>
							<select class="form-control"
									name="maritalStatuses"
									ng-model="user.maritalStatus" 
									ng-options="item.key as item.value for item in form.data.maritalStatuses"></select>
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.maritalStatuses.$invalid && pageForm.maritalStatuses.$dirty"></span>
						</div>
						<div class="form-group has-feedback readable">
							@*<br />*@
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="user.canRead"> Lectura de textos
								</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group has-feedback readable">
							<label>Fecha de nacimiento</label>
							<div class="input-group">
								<span class="input-group-addon"><span class="fa fa-calendar"></span></span>
								<input ng-model="user.birthDate"
									   name="birthDate"
									   class="form-control date-picker" 
									   type="text" 
									   date-range-picker
									   options="form.data.datePickerOptions"
									   required placeholder="01/01/1990" 
									   uib-popover="Su fecha de nacimiento es requerida" popover-trigger="'mouseenter'" popover-enable="pageForm.birthDate.$invalid && pageForm.birthDate.$dirty"/>
								<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.birthDate.$invalid && pageForm.birthDate.$dirty"></span>
							</div>
						</div>
						<div class="form-group has-feedback readable">
							<label>Provincia / Estado de origen</label>
							<input ng-model="user.stateProvince" 
								   class="form-control" 
								   type="text" 
								   name="stateProvince" 
								   required />
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.stateProvince.$invalid && pageForm.stateProvince.$dirty"></span>
						</div>
						<div class="form-group has-feedback readable">
							<label>Dirección actual</label>
							<input ng-model="user.address" 
								   class="form-control" 
								   type="text" 
								   name="address" 
								   required 
								   uib-popover="Su direccion es requerida" popover-trigger="'mouseenter'" popover-enable="pageForm.address.$invalid && pageForm.address.$dirty"/>
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.address.$invalid && pageForm.address.$dirty"></span>
						</div>
						<div class="form-group has-feedback readable">
							<label>Ocupación</label>
							<input ng-model="user.occupation" class="form-control" type="text" name="occupation" />
							<span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.occupation.$invalid && pageForm.occupation.$dirty"></span>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-body">
				<button class="btn btn-satia btn-rechazar pull-left readable" ng-click="events.onUnsubscribeClicked();">Desuscribirme</button>
				<button class="btn btn-satia btn-primario pull-right readable" ng-click="events.onSaveClicked();">Guardar Cambios</button>            </div>
		</div>

	</div>
</div>

@section Scripts {
	<script src="~/Scripts/Site/User/User.MyAccount.js"></script>
}