@model LoginPoC.Web.Areas.Common.Models.ProcessViewModel

@{
    ViewBag.Title = "Desuscripcion";
}

<h2 class="tituloPrincipal readable">Desubscribirse</h2>
<hr class="tituloPrincipal" />
<h3 class="readable">&iquest;Est&aacute; seguro que desea darse de baja?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="Continuar" class="btn btn-satia btn-rechazar readable">Continuar</button>
            <a href="@Url.Action("MyAccount")" class="btn btn-satia btn-secundario readable">Volver</a>
        </div>
    }
</div>
