@using LoginPoC.Model.User
@using LoginPoC.Model.Process
@using LoginPoC.Web.Areas.Common.Models
@using Newtonsoft.Json
@model ProcessViewModel

@{
    var jsonModel = JsonConvert.SerializeObject(Model);
    ViewBag.Title = "Tramites";
}

<div ng-controller="Process.Edit" ng-init='events.onInit(@Html.Raw(jsonModel))'>
    <h2> {{ process.processType.name }} </h2>

</div>


@section Scripts{
    <script src="~/Scripts/Site/Process/Process.Edit.js"></script>
}
