@using LoginPoC.Web.Areas.Common.Models;
@using Newtonsoft.Json
@model ProcessIndexViewModel
@{
    var jsonModel = JsonConvert.SerializeObject(Model);
    ViewBag.Title = "Mis Tramites";
}

<h2 class="tituloPrincipal readable">Mis tr&aacute;mites guardados</h2>
<hr class="tituloPrincipal" />
<div ng-controller="Process.Index" ng-init='events.onInit(@Html.Raw(jsonModel))'>
    <div class="row">
        @using (Html.BeginForm("MyProcesses", "Process", FormMethod.Get, new { area = "Common" }))
        {
            <div class="col-xs-6 tipoTramite-buscar">
                <input type="text" placeholder="Buscar trámite" name="name" id="name" value="@Model.SearchByName" />
                <button type="submit" class="fa fa-search"></button>
            </div>
        }
        <select name="filteredStatus" ng-model="filtered.status">
            <option value="">Todos</option>
            <option value="Draft">Borrador</option>
            <option value="Approved">Aprobado</option>
            <option value="Submitted">Enviado</option>
            <option value="Archived">Archivado</option>
            <option value="Rejected">Rechazado</option>
        </select>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <table class="table-striped tabla-tramitesGuardados" style="width:100%">
                <thead>
                    <tr>
                        <td class="readable" width="10%" ng-show="anyDeprecated()"></td>
                        <th class="readable" width="40%">Tr&aacute;mite</th>
                        <th class="readable" width="25%">Fecha de creaci&oacute;n</th>
                        <th class="readable" width="15%">Estado</th>
                        <th class="readable" width="5%">Editar</th>
                        <th class="readable" width="5%">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="process in processes | filter:filtered:strict">
                        <td width="10%" ng-if="anyDeprecated()">
                            <div class="readable" ng-hide="process.type.isActive">DEPRECADO</div>
                        </td>
                        <td class="readable" width="40%" style="font-family:GoboldRegular">{{ process.type.name }}</td>
                        <td class="readable" width="25%">{{ process.creationDate | date : "dd/MM/yyyy h:mm a" }}</td>
                        <td class="readable" width="15%">{{ getStatusLabel(process.status) }}</td>
                        <td class="readable" width="5%" class="text-center">
                            @{
                                var editUrl = Url.Action("Edit", new { id = "{{process.id}}" });
                                editUrl = HttpUtility.UrlDecode(editUrl);
                            }
                            <a data-ng-href="@editUrl"><span class='fa tipoTramite-itemBtn' ng-class="{ 'fa-pencil': process.status == 'Draft' || process.status == 'Rejected', 'fa-eye' : process.status == 'Approved' || process.status == 'Submitted' }"></span></a>
                        </td>
                        <td width="5%" class="text-center">
                            @{
                                var deleteUrl = Url.Action("Delete", new { id = "{{process.id}}" });
                                deleteUrl = HttpUtility.UrlDecode(deleteUrl);
                            }
                            <a href="@deleteUrl"><span class='fa fa-trash tipoTramite-itemBtn'></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Site/Process/Process.Index.js"></script>
}