@model AgentViewModel
@using LoginPoC.Web.Areas.Admin.Models
@using Newtonsoft.Json
@{
    var jsonModel = JsonConvert.SerializeObject(Model);
    ViewBag.Title = "Datos del Asesor";
}

<h2 class="tituloPrincipal">Asesor</h2>
<hr class="tituloPrincipal" />
<div class="row" ng-controller="Agent.Edit" ng-init='events.onInit(@Html.Raw(jsonModel))' ng-form="pageForm">

    <div class="form-group row">
        <div class="col-md-offset-2 col-md-8 tipoTramite-seccion">Datos de la cuenta</div>
        <div class="col-md-offset-2 col-md-8 tipoTramite-campo form-group has-feedback">
            <label>Nombre</label>
            <input ng-model="agent.firstName"
                    class="form-control" type="text" name="firstName"
                    required
                    uib-popover="El nombre del asesor es requerido" popover-trigger="'mouseenter'" popover-enable="pageForm.firstName.$invalid && pageForm.firstName.$dirty"
                    placeholder="Ingrese el nombre del asesor" />
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.firstName.$invalid && pageForm.firstName.$dirty"></span>
        </div>
        <div class="col-md-offset-2 col-md-8 tipoTramite-campo form-group has-feedback">
            <label>Apellido</label>
            <input ng-model="agent.lastName"
                   class="form-control" type="text" name="lastName"
                   required
                   uib-popover="El apellido del asesor es requerido" popover-trigger="'mouseenter'" popover-enable="pageForm.lastName.$invalid && pageForm.lastName.$dirty"
                   placeholder="Ingrese el apellido del asesor" />
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.lastName.$invalid && pageForm.lastName.$dirty"></span>
        </div>
        <div class="col-md-offset-2 col-md-8 tipoTramite-campo form-group has-feedback">
            <label>Email</label>
            <input ng-model="agent.email"
                   class="form-control" type="email" name="email"
                   required
                   uib-popover="El email del asesor es requerido" popover-trigger="'mouseenter'" popover-enable="pageForm.email.$invalid && pageForm.email.$dirty"
                   placeholder="ejemplo@mail.com" />
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="pageForm.email.$invalid && pageForm.email.$dirty"></span>
        </div>
        
        <div class="col-md-offset-2 col-md-8 tipoTramite-campo" ng-if="!!agent.id">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="agent.disabled"> Desactivar cuenta
                </label>
            </div>
        </div>

    </div>

    <hr />
    <div class="col-md-offset-5 col-md-2">
        <button class="btn btn-primary pull-right" ng-click="events.onSaveClicked();">Guardar Cambios</button>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/Site/Agent/Agent.Edit.js"></script>
}