@model LoginPoC.Model.ProcessType.ProcessType

@{
    ViewBag.Title = "Delete";
}

<h2 class="tituloPrincipal">Eliminar Tipo de Tr&aacute;mite</h2>
<hr class="tituloPrincipal" />
<h3>&iquest;Seguro desea eliminar el tipo de tr&aacute;mite?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>Nombre
            <!--@Html.DisplayNameFor(model => model.Name)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Descripci&oacute;n
            <!--@Html.DisplayNameFor(model => model.Description)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-satia btn-rechazar" /> 
            <a href="@Url.Action("Index")" class="btn btn-satia btn-secundario">Cancelar</a>
        </div>
    }
</div>
