@model LoginPoC.Web.Areas.Admin.Models.TeamViewModel

@{
    ViewBag.Title = "Eliminar Equipo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="tituloPrincipal">@ViewBag.Title</h2>
<hr class="tituloPrincipal" />
<h3>&iquest;Est&aacute; seguro de eliminar el equipo?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Nombre del Equipo
            <!--@Html.DisplayNameFor(model => model.Name)-->
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-satia btn-rechazar" />
            <a href="@Url.Action("Index")" class="btn btn-satia btn-secundario">Volver</a>
        </div>
    }
</div>
