
@if (Request.IsAuthenticated)
{
    @Html.Action("Menu", "User", new { area = "Common" })    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="header-btn">@Html.ActionLink("Registrarse", "Register", "Account", new { Area = "Security" }, htmlAttributes: new { @class = "header-btn-link" })</li>
        <li class="header-btn">@Html.ActionLink("Iniciar Sesión", "Login", "Account", new { Area = "Security" }, htmlAttributes: new { @class = "header-btn-link" })</li>
    </ul>
}
