@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { Area = "Security" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "MyAccount", "User", new { Area = "Common" }, htmlAttributes: new { title = "Mi Usuario" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesion</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { Area = "Security" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { Area = "Security" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
